---
layout: page
title: Me Trouver
permalink: /adresse
---
		<div class="row align-items-center">
			<div class="col-md-6 order-1">
				<div class="card" style="width: 99%;">
					<div class="card-body">
						<h5 class="card-title">Docteur PAULTRE Ulysse</h5>
				 		<p class="card-text">Pôle de santé de buros
							<br>60 chemin de l'église
							<br>64160 Buros
							<br>Fixe : 05 59 84 89 78
						</p>
						<a href="https://agenda.direct/invitation/ulysse-paultre/391/inscription" class="btn btn-raised btn-primary" target="_blank">Prendre rendez vous</a>
						<p><em>*La prise des rendez vous se fait sur <a href="www.agenda.direct" target="_blank">www.agenda.direct</a> et nécessite d'avoir une adresse mail.</em></p>
					</div>
				</div>
			</div>
			<div class="col-md-6 order-12">
				<img class="img-fluid" src="{{ "/assets/buros-centre-medical.jpeg" | relative_url }}" />
			</div>
		</div>
	</div>
</div>
<div class="well">
	<h4 class="home-subtitle">Autres professionnels dans le pôle de santé :</h4>
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				{% for pro in site.data.professionnels %}
					<div class="pros-tiles col-md-4 mb-3">
						<div class="card" style="width: 100%;">
							<div class="card-body">
								<h5 class="card-title">{{ pro.name }}</h5>
								<h6 class="card-subtitle mb-2 text-muted">{{ pro.profession }}</h6>
								<p class="card-text">{{ pro.phone }}</p>
								{% if pro.url %}
								<a href="{{ pro.url }}" target="_blank">{{ pro.url }}</a>
								{% endif %}
							</div>
						</div>
					</div>
				{% endfor %}
			</div>		
		</div>
	</div>
</div>
