a {
	&.btn {
		&.btn-primary {
			&.btn-raised{
				&.book-now-button {
					background-color: #448aff; 
					&:hover {
						background-color: #2979ff;
					}
				}
			}
		}
	}
}

.mb-3 {
	margin-bottom: 1.3em; 
}

.pros-tiles {
	min-height: 128px;
}

.menu {
	a.nav-link {
		display: flex;
		flex-direction: row; 
		align-content: center; 
		justify-content: flex-start; 
		div {
			&.nav-item-wrapper {
				display: inline-block;
				align-self: center; 
			}
		}
	}
}